<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato | Teste Ideia 2001</title>

    <link rel="stylesheet" href="../../../build/styles/reset.css" />
    <link rel="stylesheet" href="../../../build/views/contact/styles.css" />
  </head>
  <body>
    <header class="header">
      <a class="header--back" href="../../../index.html"></a>
      <div class="header--logo"></div>
      <div class="header--actions">
        <i class="header--cart"></i>
        <button title="Menu" class="header--menu">
          <hr />
          <hr />
          <hr />
        </button>
      </div>
    </header>

    <main class="main">
      <section class="main--contact">
        <h2>Contato</h2>
        <ul>
          <li>
            <i class="contact--icon__location"></i>
            <p>
              Rua Amazonas, 363 - Sala 95 <br />
              São Caetano do Sul - SP - Brasil
            </p>
          </li>
          <li>
            <i class="contact--icon__phone"></i>
            +55 11 2917-5277
          </li>
          <li>
            <i class="contact--icon__site"></i>
            <a href="www.ideia2001.com.br">www.ideia2001.com.br</a>
          </li>
          <li>
            <i class="contact--icon__email"></i>
            contato@ideia2001.com.br
          </li>
        </ul>
      </section>
      <section class="main--socialNetworks">
        <nav>
          <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </nav>
      </section>
    </main>

    <footer class="footer">
      <button class="footer--talk" title="Fale Conosco">Fale Conosco</button>
    </footer>
  </body>
</html>
