$bg-color: #ffb64e;
$text-color: #ffffff;
$label-color: #444242;

$button-bg-primary-color: #fa9401;
$button-border-primary-color: #444242;

$button-bg-secondary-color: #444242;
$button-border-secondary-color: #ffffff;
